.quotes-cycler-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .quotes-cycler-quote-author-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .quotes-cycler-quote-author-group {
      .quotes-cycler-quote {
        &::before {
          content: '"';
        }

        &::after {
          content: '"';
        }

        text-align: left;
        font-size: 28px;
        font-family: "Montserrat", sans-serif;
      }

      .quotes-cycler-quote-author {
        display: flex;
        margin: 8px 0 0 0;
        font-weight: 300;
        font-size: 43px;
        letter-spacing: -2px;

        .quotes-cycler-author-first-name {
          margin: 0 9px 0 0;
        }
        .quotes-cycler-author-last-name {
          margin: 0;
        }
      }
    }

    .quotes-cycler-author-image {
      height: 470px;
      width: auto;
    }
  }
}
