.web-layout {
  display: grid;
  grid-template-columns: auto 95%;
  cursor: default;

  .web-title-container {
    display: flex;
    #webImg {
      height: 100vh;
      background-color: #c8e9a0;
    }
  }
}
